<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-OS-firebase-core" version="2.0.0"
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android">
	<name>cordova-outsystems-firebase-core</name>
	
  	<hook type="before_plugin_install" src="hooks/installDependencies.js" />
  	
	<platform name="android">
	<hook type="before_plugin_install" src="hooks/unzipAndCopyConfigurations.js" />
	</platform>
	<platform name="ios">
	<hook type="before_build" src="hooks/iosTest.js" />
	</platform>
</plugin>
