<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-OS-firebase-core" version="2.0.0"
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android">
	<name>cordova-outsystems-firebase-core</name>
	
  	
	<platform name="ios">
	<hook type="after_prepare" src="hooks/iosTest.js" />
	<resource-file src="GoogleService-Info.plist" target="./GoogleService-Info.plist" />
	</platform>
</plugin>
